.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    margin-bottom: 8px;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-name:hover{
    cursor: pointer;
    text-decoration: underline;
}

.tw-followCard-username{
    opacity: .6;
}

.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button{
    margin-left: 16px;
    border: 1px solid #000;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: .3s ease background-color;
}

.tw-followCard-text{
    display: block;
}

.tw-followCard-unfollow{
    display: none;
}

.tw-followCard-button.is-following{
    border: 1px solid white;
    background: #222;
    color: #fff;
}

.tw-followCard-button:hover{
    cursor: pointer;
}

.tw-followCard-button.is-following:hover{
    color: rgb(241, 0, .2);
    background: rgb(36, 25, 25);
    border: 1px solid  rgb(241, 51, 51);
    transition: .3s ease all;
}

.tw-followCard-button.is-following:hover .tw-followCard-text{
    display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-unfollow{
    display: block;
}