.tw-followCard{
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    margin-bottom: 8px;
}

.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-username{
    opacity: .6;
}

.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.tw-followCard-button{
    margin-left: 16px;
    border: 1px solid #000;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    transition: .3s ease background-color;
}

.tw-followCard-button.is-following{
    border: 1px solid red;
}

.tw-followCard-button:hover{
    background-color: #09f;
}

.tw-followCard-button.is-following:hover{
    background: red;
}