body{
    display: grid;
    background-color: black;
    margin: 0;
    font-family: system-ui;
    place-content: center;
    min-height: 100vh;
}

.App{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.twitter-card{
    background: #222;
    padding: 18px;
    border-radius: 4%;
}

.tw-card-tittle{
    color: #fff;
    font-weight: bold;
    margin-bottom: 15px;
}

.tw-card-shm{
    color: #09f;
    font-size: 0.8rem;
}

.tw-card-shm:hover{
    text-decoration: underline;
    cursor: pointer;
}
